:root {
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
  --breakpoint-min: 320px;

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-200: hsl(0, 0%, 85%);

  --font-alata: "Alata", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;

  --weight-regular: 400;
  --weight-light: 300;

  --font-body: 15px;
}
body {
  font-family: var(--font-alata);
  font-size: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-black);
}
.hero {
  background-image: url("../images/desktop/image-hero.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  font-family: var(--font-josefin-sans);
  color: var(--color-white);
  position: relative;
}
.hero-box {
  max-width: 400px;
  border: 2px solid var(--color-white);
  padding: 1.5rem;
}
.hero h1 {
  font-size: 2rem;
  font-weight: var(--weight-regular);
  line-height: 1.2;
}
@media (min-whidth: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero-box {
    max-width: 500px;
  }
  .about-text {
    background-color: var(--color-white);
    padding: 2rem;
    font-family: var(--font-alata);
  }
}
.about-text h2 {
  font-family: var(--font-josefin-sans);
  font-weight: var(--weight-light);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about-text p {
  font-size: var(--font-body);
  font-weight: var(--weight-regular);
  color: var(--color-grey-200);
}
@media (min-width: 992px) {
  .about-text {
    margin-left: -150px;
    margin-top: 270px;
  }
}
.creation-card {
  cursor: pointer;
  position: relative;
}
.creation-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  &:overlay-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--color-white);
    font-family: var(--font-josefin-sans);
    max-width: 80%;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.creation-card:hover img {
  transform: scale(1.05);
}
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-alata);
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
